body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #a6c0fe, #f88d92);
  
}

code {
  font-family: 'Courier New';
}

button{
  cursor: pointer;
}
